{% extends "base.html" %}

{% block content %}

{% include "title_blueberry.html" %}

<section class="blog_area section_padding_0_80">
    <div class="container">
        <div class="row justify-content-center">
            <section class="col-12 col-lg-8">
                <section class="row">

                    <!-- Single Post -->
                    <div class="col-12">
                        <div class="single-post wow fadeInUp" data-wow-delay=".2s">
                            <!-- Post Content -->
                            <div class="post-content">
                                <form action="{{ url_for('user.process_sign_in_user') }}" method="POST">
                                    {{ form_login.hidden_tag() }}
                                    
                                    <br>
                                    <p>{{ form_login.email.label() }}</p>
                                    <p>{{ form_login.email() }}</p>

                                    <p>{{ form_login.password.label() }}</p>
                                    <p>{{ form_login.password() }}</p>

                                    {{ form_login.remember_me.label() }}
                                    {{ form_login.remember_me() }}

                                    <p>{{ form_login.submit() }}</p>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>
</section>

    

{% endblock %}