{% extends "base.html" %}

{% block content %}

{% include "title_blueberry.html" %}

<section class="blog_area section_padding_0_80">
    <div class="container">
        <div class="row justify-content-center">
            <section class="col-12 col-lg-8">
                <section class="row">

                    <!-- Single Post -->
                    <div class="col-12">
                        <div class="single-post wow fadeInUp" data-wow-delay=".2s">
                            <!-- Post Content -->
                            <div class="post-content">
                                <form action="{{ url_for('kitchen_recipes.process_add_recipe') }}" method="POST"  enctype="multipart/form-data">
                                    
                                    {{ form_add_recipe.hidden_tag() }}
                                    <br>
                                    <p>{{ form_add_recipe.category.label() }}</p>
                                    <p>{{ form_add_recipe.category() }}</p>

                                    <p>{{ form_add_recipe.name.label() }}</p>
                                    <p>{{ form_add_recipe.name() }}</p>

                                    <p>{{ form_add_recipe.description.label() }}</p>
                                    <p>{{ form_add_recipe.description() }}</p>

                                    <p>{{ form_add_recipe.photo.label() }}</p>
                                    <p>{{ form_add_recipe.photo() }}</p>

                                    <p>{{ form_add_recipe.submit() }}</p>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </div>
</section>

    

{% endblock %}